<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.vcloud.mapper.VCUploadFileMapper">
	<select id="getFiles" parameterType="VCUploadFile" resultType="VCUploadFile">
		select ufid,userid,filepath,filesize,to_char(uploaddate,'yyyy-mm-dd HH:MI:ss') uploaddate,filestatus,stoppoingpath,status,isdir
		 from uploadfile where userid=#{userid}
		 <if test="filepath != null">
		 	 and regexp_like(filepath,'^'||#{filepath}||'+')
		 </if>
	</select>
	
	<insert id="insertFile" parameterType="VCUploadFile">
		insert into uploadfile values(seq_ufid.nextval,#{userid},#{filepath},0,to_date(#{uploaddate},'yyyy-mm-dd HH24:MI:ss'),1,null,1,1,null,null)
	</insert>
	
	<select id="getAllPhoto" parameterType="VCUploadFile" resultType="VCUploadFile">
		select ufid,userid,filepath,filesize,to_char(uploaddate,'yyyy"年"mm"月"dd"日"') uploaddate,filestatus,stoppoingpath,status,isdir,temp1,temp2
		 from uploadfile where userid=#{userid} and isdir=0 and temp1='图片'
	</select>
	
	<insert id="uploadFile" parameterType="VCUploadFile">
		insert into uploadfile values(seq_ufid.nextval,#{userid},#{filepath},#{filesize},to_date(#{uploaddate},'yyyy-mm-dd HH24:MI:ss'),1,null,1,0,#{temp1},#{temp2})
	</insert>
	
	<select id="getPhotoCount" resultType="VCUploadCount">
		select to_char(uploaddate,'yyyy"年"mm"月"dd"日"') uploaddate,count(*) count from uploadfile  where isdir=0 and temp1='图片'
		group by uploaddate  order by uploaddate desc
	</select>
	
	<delete id="delFiles" parameterType="String">
		delete from uploadfile where filepath in 
		<foreach collection="list" item="paths" open="(" close=")" separator=",">
			#{paths}
		</foreach>
	</delete>
	
	<select id="getAllDoc" parameterType="VCUploadFile" resultType="VCUploadFile">
		select ufid,userid,filepath,filesize,to_char(uploaddate,'yyyy-mm-dd HH:MI:ss') uploaddate,filestatus,stoppoingpath,status,isdir,temp1,temp2,rownum
		 from uploadfile where userid=#{userid} and isdir=0 and temp1='文档' order by uploaddate desc
	</select>
	
	<select id="getDocCount" resultType="VCUploadCount">
		select count(*) count from uploadfile  where isdir=0 and temp1='文档'
	</select>
	
	<select id="getAllMusic" parameterType="VCUploadFile" resultType="VCUploadFile">
		select ufid,userid,filepath,filesize,to_char(uploaddate,'yyyy-mm-dd HH:MI:ss') uploaddate,filestatus,stoppoingpath,status,isdir,temp1,temp2,rownum
		 from uploadfile where userid=#{userid} and isdir=0 and temp1='音乐' order by uploaddate desc
	</select>
	
	<select id="getMusicCount" resultType="VCUploadCount">
		select count(*) count from uploadfile  where isdir=0 and temp1='音乐'
	</select>
</mapper>
