<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.vcloud.mapper.VCUserMapper">
	<insert id="register"  parameterType="VCUser">
		insert into VCUser
		(userid,uname,utel,upwd,gender,address,status)
		values(seq_userid.nextval,#{uname},#{utel},#{upwd},#{gender},#{address},1)
	</insert>

	<select id="login" parameterType="VCUser" resultType="VCUser">
		select *
		from VCUser where utel=#{utel} and
		upwd=#{upwd}
	</select>
	
	<select id="checkUsername" parameterType="String"  resultType="VCUser">
		select *
		from VCUser where uname=#{uname}
	</select>
	
	<select id="checkPhone" parameterType="String"  resultType="VCUser">
		select *
		from VCUser where utel=#{utel}
	</select>
</mapper>