@CHARSET "UTF-8";

#shareCon{width:750px;height:345px;background-image: url(../images/share.jpg);margin-left:200px;margin-top:50px;;float:left;}
#sharebut{cursor:pointer;float:left;width:199px;height:44px;background-image:url(../images/sharebut.png);margin-left:450px;margin-top:30px;}
#sharebut:hover{opacity:0.8;}

#shareshow{width:750px;height:500px;border:3px solid rgb(209,209,211);z-index:200;position: absolute;margin-top:20px;margin-left:320px;background-color: white;}
#shareshow #shareh3{border-bottom:1px solid rgb(210,210,210);height:40px;line-height:40px;width:100%;color: #333;font-size: 14px;font-weight: 700;text-indent: 1em;background: url("http://s1.pan.bdstatic.com/yun-static/common-cdn/images/dialog/globe-dlg-hd.png?t=1470210528913");}
#shareshow #showall{border-bottom:1px solid rgb(210,210,210);height:50px;background: #fafafa none repeat scroll 0 0;}
#shareshow #showall span{height:50px;line-height: 50px;display:block;text-indent: 1em;}
#shareshow #name{height:40px;width:100%;border-bottom:1px solid rgb(210,210,210);}
.order-icon {background: rgba(0, 0, 0, 0) url("../images/list-view_4e60b0c.png") no-repeat scroll -50px -45px;position:absolute; height: 10px;vertical-align: middle;width: 9px;margin:18px 10px;float:left;}
#name .check-icon2 {background: rgba(0, 0, 0, 0) url("../images/list-view_4e60b0c.png") no-repeat scroll -9px -12px;float: left;left: 11px;margin: 15px 10px;top: 20px;width:14px;height:14px;}
#shareshow span{height:40px;line-height: 40px;}

