* {
	padding: 0;
	margin: 0;
}

body, button, input, select, textarea {
	color: #666;
	font: 14px/1.5 "Microsoft YaHei", arial, SimSun, "宋体";
}

body {
	height: auto;
	background: #fff none repeat scroll 0 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.Nav_VClound {
	height: 50px;
	background-color: #033;
}

.menu-list {
	width: 160px;
}

.module-aside {
	background: #f0f0f0 url("../images/bg2.jpg") repeat-y scroll 0 0;
	border-right: 1px solid #c6c8cc;
	height: 100%;
	padding-top: 10px;
	width: 160px;
	float: left;
}

.module-aside .menu-list a .text {
	cursor: pointer;
	height: 31px;
	margin: 0 auto;
	position: relative;
	width: 115px;
}

.module-aside .menu-list a {
	color: #333;
	display: block;
	font-size: 14px;
	height: 31px;
	line-height: 31px;
	margin: 3px 0;
	padding: 1px 0;
	position: relative;
	text-decoration: none;
}

.module-aside .menu-list li a:hover {
	border-radius: 2px;
	background-image: url(../images/changebg.jpg);
	text-decoration: none;
	color: #434343;
	font-weight: bold;
	font-size: 14px;
}

.img-ico-disk {
	background: url(../images/navigator.png) no-repeat scroll 0 0;
	background-position: -23px 0;
	height: 22px;
	width: 23px;
	float: left;
	margin-left: 25px;
	margin-top: 6px;
}
.item-title {
	padding-left: 20px;
	line-height: 33px;
}

.img-ico-pic {
	background: url(../images/navigator.png) no-repeat scroll 0 0;
	background-position: -23px -22px;
	height: 22px;
	width: 23px;
	float: left;
	margin-left: 25px;
	margin-top: 6px;
}

.img-ico-doc {
	background: url(../images/navigator.png) no-repeat scroll 0 0;
	background-position: -23px -44px;
	height: 22px;
	width: 23px;
	float: left;
	margin-left: 25px;
	margin-top: 6px;
}

.img-ico-video {
	background: url(../images/navigator.png) no-repeat scroll 0 0;
	background-position: -23px -89px;
	height: 22px;
	width: 23px;
	float: left;
	margin-left: 25px;
	margin-top: 6px;
}

.img-ico-bt {
	background: url(../images/navigator.png) no-repeat scroll 0 0;
	background-position: -23px -201px;
	height: 22px;
	width: 23px;
	float: left;
	margin-left: 25px;
	margin-top: 6px;
}

.img-ico-music {
	background: url(../images/navigator.png) no-repeat scroll 0 0;
	background-position: -23px -66px;
	height: 22px;
	width: 23px;
	float: left;
	margin-left: 25px;
	margin-top: 6px;
}

.img-ico-oth {
	background: url(../images/navigator.png) no-repeat scroll 0 0;
	background-position: -23px -177px;
	height: 22px;
	width: 23px;
	float: left;
	margin-left: 25px;
	margin-top: 6px;
}

.frame-main {
	width: auto;
	height: auto;
}

.g-button-blue .g-button-right {
	background-position: right -531px;
}

.g-button-right {
	background: rgba(0, 0, 0, 0) url("../images/btn_2d148f3.png") no-repeat
		scroll right -184px;
	cursor: pointer;
	display: block;
	height: 28px;
	line-height: 40px;
	padding-right: 15px;
	position: relative;
	right: -1px;
	text-align: center;
	margin-left: 25px;
}
/*分享和回收站的伪类*/
.bottom-button-container:hover, .middle-button-container:hover {
	border-radius: 2px;
	background-color: rgb(134, 195, 245);
}

.middle-button-container a .g-button-right .icon,
	.bottom-button-container a .g-button-right .icon {
	height: 30px;
	margin-right: 12px;
	width: 23px;
}

.icon-aside-share {
	background: rgba(0, 0, 0, 0) url("../images/navigator.png") repeat
		scroll 0 0;
	background-position: -23px -352px;
	height: 22px;
	width: 23px;
	margin-top: 6px;
	float: left;
}

.icon-aside-recyclebin {
	background: rgba(0, 0, 0, 0) url("../images/navigator.png") repeat
		scroll 0 0;
	background-position: -23px -370px;
	height: 22px;
	width: 23px;
	margin-left: 25x;
	margin-top: 6px;
	float: left;
}

.item-separator {
	border-bottom: 1px solid #f7f9fb;
	border-top: 1px solid #dce1e6;
	display: none;
	height: 0;
	margin: 5px 0;
}

.bottom-button-container .text, .middle-button-container .text {
	cursor: pointer;
	height: 31px;
	margin: 0 auto;
	position: relative;
	padding-left: 16px;
	width: 115px;
}

.bottom-button-container a:hover, .middle-button-container a:hover {
	text-decoration: none;
	color: #434343;
	font-weight: bold;
	font-size: 15px;
}

.middle-button-container a .g-button-right, .bottom-button-container a .g-button-right,
	.middle-button-container a:hover .g-button-right,
	.bottom-button-container a:hover .g-button-right {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #333;
	height: 31px;
	line-height: 40px;
	text-align: left;
}
/*新建文件夹*/
.module-edit-name{
	display: block;
	position: relative;
	height: 43px;
	line-height: 43px;
	border-bottom: 1px solid #ebebeb;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #FFF;
}
.module-edit-name li {
	float: left;
}

.module-edit-name:hover {
	background-color: #F0F8FD;
}

.module-edit-name a:hover {
	text-decoration: underline;
}
.module-edit-name .sure {
    background: url(../images/icon_743d29d.png) -0px -512px;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin: 8px 5px;
    cursor: pointer;
}
.module-edit-name .cancel {
    background: url(../images/icon_743d29d.png) -27px -512px;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 2px;
    cursor: pointer;
}
.module-toolbar {
	height: 28px;
	width: 1000px;
	padding: 11px 40px;
	background-color: #F7F7F7;
	border-radius: 2px;
	float: left;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.time-upfileimg {
	height: 30px;
	width: 100px;
	background: url("../images/upload.png") no-repeat scroll 0 0;
}
.upfileds li {
	height: 30px;
	float: left;
}

.upfileds .upfileInputjia {
	margin-left: 30px;
	width: 120px;
	height: 28px;
	text-align: center;
	border: 1px groove #666;
	cursor: pointer;
	border-radius: 2px;
}

.upfileds .upfileSpanjia {
	line-height: 20px;
	color: #666;
	font: "微软雅黑";
	font-size: 14px;
}

.upfileds .upfileimgjia {
	background: url(../images/icon_743d29d.png) no-repeat scroll 0 0;
	background-position: -158px -18px;
	width: 24px;
	height: 22px;
	float: left;
}

.module-list {
	height: 33px;
	margin-top: 10px;
}

.module-list {
	width: 1146px;
	height: 425px;
	float: left;
}

.list-grid-switch {
	background-color: #f7f7f7;
	border-radius: 2px;
	height: 28px;
	padding: 11px 0px;
}

.list-switch {
	background: rgba(0, 0, 0, 0) url("../images/list-switch_0fd500b.png")
		no-repeat scroll 0 0;
	background-position: 0px -35px;
	height: 29px;
	width: 32px;
	float: left;
}

.grid-switch {
	background: rgba(0, 0, 0, 0) url("../images/list-switch_0fd500b.png")
		no-repeat scroll 0 0;
	background-position: -33px -35px;
	height: 29px;
	width: 32px;
	float: left;
}

.list-switch:hover {
	background: rgba(0, 0, 0, 0) url("../images/list-switch_0fd500b.png")
		no-repeat scroll 0 0;
	background-position: 0px -70px;
	height: 29px;
	width: 32px;
	float: left;
}

.history-list-dir {
	display: block;
	height: 30px;
	line-height: 30px;
	padding-left: 16px;
	position: relative;
	float: left;
}

.history-list-tips {
	display: block;
	height: 30px;
	line-height: 30px;
	padding-right: 16px;
	position: relative;
	float: right;
}

.list-header {
	height: 30px;
	width: 1188px;
}

.list-view-header {
	background: #f7f7f7 none repeat scroll 0 0;
	height: 43px;
	float: left;
}

.list-header ul {
	background: #f7f7f7 none repeat scroll 0 0;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
	color: #888;
	height: 43px;
	line-height: 43px;
}

.list-header ul li {
	float: left;
}

.list-cols {
	height: 28px;
	width: 100%;
}

.list-cols:hover {
	background-color: #F0F8FD;
}
/*li的浮动*/
.first-col {
	float: left;
	border-left: 1px solid #fff;
}
/*控制中间导航栏大小与日期的位置*/
.last-col, .col {
	padding-left: 22px;
	border-left: 1px solid #e5e5e5;
}
/*文件名样式*/
.check {
	height: 41px;
	width: 90%;
}
/**/
.check-icon {
	background: rgba(0, 0, 0, 0) url("../images/list-view_4e60b0c.png")
		no-repeat scroll -9px -12px;
	height: 14px;
	left: 11px;
	width: 14px;
	top: 20px;
	margin: 15px 10px;
	float: left;
}
.last-col .order-icon {
	background: rgba(0, 0, 0, 0) url("../images/list-view_4e60b0c.png")
		no-repeat scroll -50px -45px;
	position: absolute;
	height: 10px;
	vertical-align: middle;
	width: 9px;
	margin: 18px 10px;
	float: left;
}

.lg-button {
	background: rgba(0, 0, 0, 0) url("../images/btn_2d148f3.png") no-repeat
		scroll 0 -144px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	height: 28px;
	width: 56px;
	line-height: 33px;
	margin: 0 5px;
	outline: 0 none;
	padding-left: 15px;
	position: relative;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 2px;
}

.lg-button-right {
	position: relative;
	display: block;
	text-align: center;
	padding-right: 18px;
	height: 28px;
	width: 50px;
	line-height: 25px;
	background: url("../images/btn_2d148f3.png") no-repeat right -144px;
	cursor: pointer;
}
/*分享图标*/
.icon-share-gray {
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	width: 20px;
	background: url("../images/plugin-icon_7318e47.png") -180px 0 no-repeat;
}

.icon-share-gray:hover {
	background-position: -240px 0;
}
/*下载*/
.icon-download-gray {
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	width: 20px;
	background: url("../images/sys-icon_b547193.png") -60px 0 no-repeat;
}

.icon-download-gray:hover {
	background-position: -120px 0;
}

.icon-del-gray {
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	width: 20px;
	background: url("../images/sys-icon_b547193.png") -210px 0 no-repeat;
}

.icon-del-gray:hover {
	background-position: -270px 0;
}
/*显示下面的文件*/
.list-view-container {
	width: 1190px;
	float: left;
}

.open-enable {
	display: block;
	position: relative;
	height: 43px;
	line-height: 43px;
	border-bottom: 1px solid #ebebeb;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #FFF;
}
.open-enable li {
	float: left;
}

.open-enable:hover {
	background-color: #F0F8FD;
}

.open-enable, a:hover {
	text-decoration: underline;
}
/* .dir-large a:hover {
	text-decoration: underline;
} */
/*设置文件夹标志*/
.open-enable .filenameicon {
	background: rgba(0, 0, 0, 0) url("../images/icon_743d29d.png") no-repeat
		scroll 0 -205px;
	width: 20px;
	height: 16px;
	float: left;
	margin-top: 14px;
}
/*显示列表形式*/
.dir-tables{
	background: rgba(0, 0, 0, 0) url("../images/listIcon_cb54a24.png") no-repeat
		scroll;
	width: 20px;
	height: 16px;
	float: left;
	margin-top: 14px;
}
.fileicon-tables-png{
	background-position: 0px 0px;
}
.fileicon-tables-doc{
	background-position: -58px 0px;
}
.fileicon-tables-xls{
	background-position: -88px 0px;
}
.fileicon-tables-txt{
	background-position: -119px 0px;
}
.fileicon-tables-mp4{
	background-position: -210px 0px;
}
.fileicon-tables-zip{
	background-position: -240px 0px;
}
.fileicon-tables-music{
	background-position: -180px 0px;
}
.fileicon-tables-oth{
	background-position: -391px 0px;
}
/*详细内容视图*/
.grid-view-item{
	display: block;
    height: 122px;
    margin: 4px 4px 0 0;
    text-align: center;
    width: 142px;
	float: left;
}
.dir-large {
    background: rgba(0, 0, 0, 0) url("../images/gridIcon_7165cae.png") no-repeat scroll 16px -77px;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    height: 92px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 90px;
    cursor: pointer;
}
.grid-view-item .checkbox {
    background: rgba(0, 0, 0, 0) url("../images/checkbox_8c741da.png") no-repeat scroll 6px -36px;
    display: none;/*显示选择框*/
    background-position: -30px -36px;
    height: 30px;
    left: -8px;
    position: absolute;
    top: -8px;
    width: 30px;
}
 .dir-large:hover {
    border: 2px solid #2e80dc;
}
.fileicon-large-xls {
    background-position: -180px 17px;
}
.fileicon-large-doc {
    background-position: -280px 17px;
}
.fileicon-large-doc, .fileicon-large-pdf, .fileicon-large-ppt, .fileicon-large-txt, .fileicon-large-xls {
    background-image: url("../images/gridIcon_2a39f1a.png");
}
/*导航lan*/
#navbar #search {
	height: 100%;
	float: right;
	width: 260px;
}

#navbar #search li {
	height: 28px;
	line-height: 50px;
}

#navbar #search #searchkey {
	width: 180px;
	height: 27px;
}

#navbar #search #searchbu {
	width: 50px;
	height: 30px;
	padding-left: -2px;
}


.fileicon-small-doc, .fileicon-small-pdf, .fileicon-small-ppt, .fileicon-small-txt, .fileicon-small-xls, .fileicon-small-music {
    background-image: url(../images/listIcon_cb54a24.png);
}

.fileicon-small-doc{
	background-position: -60px 0;
	width: 20px;
	height: 16px;
	float: left;
	margin-top: 14px;
}

.fileicon-small-xls{
	background-position: -90px 0;
	width: 20px;
	height: 16px;
	float: left;
	margin-top: 14px;
}

.fileicon-small-txt {
    background-position: -120px 0;
    width: 20px;
	height: 16px;
	float: left;
	margin-top: 14px;
}

.fileicon-small-music {
    background-position: -180px 0;
    width: 20px;
	height: 16px;
	float: left;
	margin-top: 14px;
}
.bg {
	background-color: #333;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: alpha(opacity =     50);
	opacity: 0.5;
	z-index: 100;
	position: fixed !important;
	position: absolute;
	_top: expression(eval(document.compatMode &&       document.compatMode ==  
		  'CSS1Compat')?    
            documentElement.scrollTop+    (document.documentElement.clientHeight-this.offsetHeight
		)/2:document.body.scrollTop+    (document.body.clientHeight-
		this.clientHeight )/2 );
}

* html .bg {
	background-color: #333;
	width: 100%;
	height: 1000px;
	left: 0;
	top: 0;
	filter: alpha(opacity =     50);
	opacity: 0.5;
	z-index: 1;
	position: fixed !important;
	position: absolute;
	_top: expression(eval(document.compatMode &&       document.compatMode ==  
		  'CSS1Compat')?    
            documentElement.scrollTop+    (document.documentElement.clientHeight-this.offsetHeight
		)/2:document.body.scrollTop+    (document.body.clientHeight-
		this.clientHeight )/2 );
}


